In [1]:
import pandas as pd
import numpy as np
import pulp
from pulp import LpProblem, LpMinimize, LpVariable, LpStatus, lpSum, value, getSolver
from pulp import LpStatus, LpStatusOptimal

In [2]:
locations_df = pd.read_csv("locations.csv")
routes_df = pd.read_csv("routes.csv")

In [3]:
supply_points_df = locations_df[locations_df['Location Type'].isin(['Hub', 'Focus City'])]
supply_points = dict(zip(supply_points_df['Location Name'], supply_points_df['Capacity']))


centers_df = locations_df[locations_df['Location Type'] == 'Center']
centers = dict(zip(centers_df['Location Name'], centers_df['Demand']))

centers = {city: float(demand.replace(",", "")) for city, demand in centers.items()}

costs = {}
for _, row in routes_df.iterrows():
    is_available = bool(row['IsAvailable?']) #Availability Constraint
    
    if is_available:
        try:
            source_name = locations_df.loc[locations_df['Location ID'] == row['Route Start'], 'Location Name'].values[0]
            dest_name = locations_df.loc[locations_df['Location ID'] == row['Route End'], 'Location Name'].values[0]
            costs[(source_name, dest_name)] = row['Price']
        except (IndexError, KeyError) as e:
            print(f"Error processing route from {row['Route Start']} to {row['Route End']}: {e}")

In [4]:
routes_df.head() # Data Inspection

   Route Start  Route End  Price  IsAvailable?
0            1          6    1.6          True
1            1          7    1.5          True
2            1          8    1.5          True
3            1          9    NaN         False
4            1         10    NaN         False

In [5]:
locations_df.head()

,Location ID,Location Name,Location Type,Capacity,Demand
0,1.0,Cincinnati/Northern Kentucky (CVG),Hub,95650.0,NaN
1,2.0,Alliance Fort Worth (AFW),Hub,44350.0,NaN
2,3.0,"Leipzig, Germany",Focus City,85000.0,NaN
3,4.0,"Hyderabad, India",Focus City,19000.0,NaN
4,5.0,"San Bernardino, CA, United States",Focus City,36000.0,NaN

In [6]:
model = LpProblem("Amazon_Cargo_Distribution", LpMinimize) #Method

# Decision Variables
x = {}
for D in supply_points:
    for FC in centers:
        if (D, FC) in costs:  
            x[D, FC] = LpVariable(f"ship_{D}_to_{FC}", lowBound=0, cat='Continuous')

# Objective Function
model += lpSum(costs[D, FC] * x[D, FC] for (D, FC) in x), "Total_Transportation_Cost"

In [7]:
#Demand Constraint
for FC in centers:
    available_routes = [D for D in supply_points if (D, FC) in x]
    if available_routes:
        model += lpSum(x[D, FC] for D in available_routes) == centers[FC], f"Demand_{FC}"
    else:
        print:(f"No Valid Routes to {FC}")

In [8]:
# Capacity Constraint
for D in supply_points:
    model += lpSum(x[D, FC] for FC in centers if (D, FC) in x) <= supply_points[D], f"Capacity_{D}"

In [9]:
#Non-Negativity Constraint

for (D, FC) in x:
    model += x[D, FC] >=0, f"NonNeg_{D}_to_{FC}"

In [10]:
solver = getSolver('PULP_CBC_CMD', msg=True)
model.solve(solver)

1

In [11]:
print(f"Model status: {LpStatus[model.status]}")

Model status: Optimal

In [12]:
if model.status == LpStatusOptimal:
    print("Solution found! Optimal distribution plan:")
    
    # Print shipment details
    for (D, FC) in sorted(x.keys()):
        if value(x[D, FC]) > 0:  # Only show non-zero shipments
            print(f"Ship {value(x[D, FC]):,.2f} tons from {D} to {FC} " 
                  f"at ${costs[D, FC]} per ton (total ${costs[D, FC] * value(x[D, FC]):,.2f})")
    
    # Print total cost
    print(f"\nTotal cost: ${value(model.objective):,.2f}")

Solution found! Optimal distribution plan:
Ship 975.00 tons from Alliance Fort Worth (AFW) to Austin at $0.25 per ton (total $243.75)
Ship 3,300.00 tons from Alliance Fort Worth (AFW) to Houston at $0.25 per ton (total $825.00)
Ship 1,100.00 tons from Alliance Fort Worth (AFW) to San Antonio at $0.25 per ton (total $275.00)
Ship 450.00 tons from Cincinnati/Northern Kentucky (CVG) to Albuquerque at $0.5 per ton (total $225.00)
Ship 420.00 tons from Cincinnati/Northern Kentucky (CVG) to Allentown at $0.5 per ton (total $210.00)
Ship 3,000.00 tons from Cincinnati/Northern Kentucky (CVG) to Atlanta at $0.5 per ton (total $1,500.00)
Ship 1,300.00 tons from Cincinnati/Northern Kentucky (CVG) to Baltimore at $0.5 per ton (total $650.00)
Ship 900.00 tons from Cincinnati/Northern Kentucky (CVG) to Charlotte at $0.5 per ton (total $450.00)
Ship 5,100.00 tons from Cincinnati/Northern Kentucky (CVG) to Chicago at $0.5 per ton (total $2,550.00)
Ship 3,300.00 tons from Cincinnati/Northern Kentucky (CVG) to Dallas at $0.5 per ton (total $1,650.00)
Ship 1,500.00 tons from Cincinnati/Northern Kentucky (CVG) to Denver at $0.5 per ton (total $750.00)
Ship 300.00 tons from Cincinnati/Northern Kentucky (CVG) to Des Moines at $0.5 per ton (total $150.00)
Ship 200.00 tons from Cincinnati/Northern Kentucky (CVG) to Fort Wayne at $0.5 per ton (total $100.00)
Ship 540.00 tons from Cincinnati/Northern Kentucky (CVG) to Hartford at $0.5 per ton (total $270.00)
Ship 975.00 tons from Cincinnati/Northern Kentucky (CVG) to Kansas City at $0.5 per ton (total $487.50)
Ship 185.00 tons from Cincinnati/Northern Kentucky (CVG) to Lakeland at $0.5 per ton (total $92.50)
Ship 7,200.00 tons from Cincinnati/Northern Kentucky (CVG) to Los Angeles at $0.5 per ton (total $3,600.00)
Ship 100.00 tons from Cincinnati/Northern Kentucky (CVG) to Manchester at $0.5 per ton (total $50.00)
Ship 3,400.00 tons from Cincinnati/Northern Kentucky (CVG) to Miami at $0.5 per ton (total $1,700.00)
Ship 1,700.00 tons from Cincinnati/Northern Kentucky (CVG) to Minneapolis at $0.5 per ton (total $850.00)
Ship 190.00 tons from Cincinnati/Northern Kentucky (CVG) to Mobile at $0.5 per ton (total $95.00)
Ship 650.00 tons from Cincinnati/Northern Kentucky (CVG) to Nashville at $0.5 per ton (total $325.00)
Ship 550.00 tons from Cincinnati/Northern Kentucky (CVG) to New Orleans at $0.5 per ton (total $275.00)
Ship 11,200.00 tons from Cincinnati/Northern Kentucky (CVG) to New York at $0.5 per ton (total $5,600.00)
Ship 480.00 tons from Cincinnati/Northern Kentucky (CVG) to Omaha at $0.5 per ton (total $240.00)
Ship 100.00 tons from Cincinnati/Northern Kentucky (CVG) to Ontario at $0.5 per ton (total $50.00)
Ship 2,400.00 tons from Cincinnati/Northern Kentucky (CVG) to Phoenix at $0.5 per ton (total $1,200.00)
Ship 1,000.00 tons from Cincinnati/Northern Kentucky (CVG) to Pittsburgh at $0.5 per ton (total $500.00)
Ship 1,200.00 tons from Cincinnati/Northern Kentucky (CVG) to Portland at $0.5 per ton (total $600.00)
Ship 600.00 tons from Cincinnati/Northern Kentucky (CVG) to Richmond at $0.5 per ton (total $300.00)
Ship 1,200.00 tons from Cincinnati/Northern Kentucky (CVG) to Riverside at $0.5 per ton (total $600.00)
Ship 172.00 tons from Cincinnati/Northern Kentucky (CVG) to Rockford at $0.5 per ton (total $86.00)
Ship 1,100.00 tons from Cincinnati/Northern Kentucky (CVG) to Sacramento at $0.5 per ton (total $550.00)
Ship 1,900.00 tons from Cincinnati/Northern Kentucky (CVG) to San Francisco at $0.5 per ton (total $950.00)
Ship 1,100.00 tons from Cincinnati/Northern Kentucky (CVG) to San Juan at $0.5 per ton (total $550.00)
Ship 2,000.00 tons from Cincinnati/Northern Kentucky (CVG) to Seattle/Tacoma at $0.5 per ton (total $1,000.00)
Ship 173.00 tons from Cincinnati/Northern Kentucky (CVG) to South Bend at $0.5 per ton (total $86.50)
Ship 260.00 tons from Cincinnati/Northern Kentucky (CVG) to Spokane at $0.5 per ton (total $130.00)
Ship 1,200.00 tons from Cincinnati/Northern Kentucky (CVG) to St. Louis at $0.5 per ton (total $600.00)
Ship 240.00 tons from Cincinnati/Northern Kentucky (CVG) to Stockton at $0.5 per ton (total $120.00)
Ship 1,600.00 tons from Cincinnati/Northern Kentucky (CVG) to Tampa at $0.5 per ton (total $800.00)
Ship 290.00 tons from Cincinnati/Northern Kentucky (CVG) to Toledo at $0.5 per ton (total $145.00)
Ship 290.00 tons from Cincinnati/Northern Kentucky (CVG) to Wichita at $0.5 per ton (total $145.00)
Ship 150.00 tons from Cincinnati/Northern Kentucky (CVG) to Wilmington at $0.5 per ton (total $75.00)
Ship 19,000.00 tons from Hyderabad, India to Delhi at $0.5 per ton (total $9,500.00)
Ship 9,100.00 tons from Leipzig, Germany to Bangalore  at $1.5 per ton (total $13,650.00)
Ship 2,800.00 tons from Leipzig, Germany to Barcelona at $0.5 per ton (total $1,400.00)
Ship 90.00 tons from Leipzig, Germany to Cagliari at $0.5 per ton (total $45.00)
Ship 30.00 tons from Leipzig, Germany to Castle Donington at $0.5 per ton (total $15.00)
Ship 185.00 tons from Leipzig, Germany to Catania at $0.5 per ton (total $92.50)
Ship 570.00 tons from Leipzig, Germany to Coimbatore at $1.5 per ton (total $855.00)
Ship 640.00 tons from Leipzig, Germany to Cologne at $0.5 per ton (total $320.00)
Ship 180.00 tons from Leipzig, Germany to Hanover at $0.5 per ton (total $90.00)
Ship 170.00 tons from Leipzig, Germany to Katowice at $0.5 per ton (total $85.00)
Ship 6,700.00 tons from Leipzig, Germany to London at $0.75 per ton (total $5,025.00)
Ship 3,700.00 tons from Leipzig, Germany to Madrid at $0.5 per ton (total $1,850.00)
Ship 800.00 tons from Leipzig, Germany to Milan at $0.5 per ton (total $400.00)
Ship 14,800.00 tons from Leipzig, Germany to Mumbai at $1.5 per ton (total $22,200.00)
Ship 6,500.00 tons from Leipzig, Germany to Paris at $0.5 per ton (total $3,250.00)
Ship 1,700.00 tons from Leipzig, Germany to Rome at $0.5 per ton (total $850.00)
Ship 175.00 tons from San Bernardino, CA, United States to Anchorage at $0.7 per ton (total $122.50)
Ship 38.00 tons from San Bernardino, CA, United States to Fairbanks at $0.7 per ton (total $26.60)
Ship 500.00 tons from San Bernardino, CA, United States to Honolulu at $0.5 per ton (total $250.00)
Ship 16.00 tons from San Bernardino, CA, United States to Kahului/Maui at $0.5 per ton (total $8.00)
Ship 63.00 tons from San Bernardino, CA, United States to Kona at $0.5 per ton (total $31.50)

Total cost: $91,717.35

In [13]:
# Demand Constraint Verification
print("\nDEMAND CONSTRAINT VERIFICATION:")
print("-------------------------------")
for D in centers:
    received = sum(value(x[FC, D]) for FC in supply_points if (FC, D) in x and value(x[FC, D]) > 0)
    required = centers[D]
    
    is_satisfied = abs(received - required) < 0.001 
    
    print(f"{D}: Received {received:,.2f} tons, Required {required:,.2f} tons - {'✓' if is_satisfied else '✗'}")

DEMAND CONSTRAINT VERIFICATION:
-------------------------------
Paris: Received 6,500.00 tons, Required 6,500.00 tons - ✓
Cologne: Received 640.00 tons, Required 640.00 tons - ✓
Hanover: Received 180.00 tons, Required 180.00 tons - ✓
Bangalore : Received 9,100.00 tons, Required 9,100.00 tons - ✓
Coimbatore: Received 570.00 tons, Required 570.00 tons - ✓
Delhi: Received 19,000.00 tons, Required 19,000.00 tons - ✓
Mumbai: Received 14,800.00 tons, Required 14,800.00 tons - ✓
Cagliari: Received 90.00 tons, Required 90.00 tons - ✓
Catania: Received 185.00 tons, Required 185.00 tons - ✓
Milan: Received 800.00 tons, Required 800.00 tons - ✓
Rome: Received 1,700.00 tons, Required 1,700.00 tons - ✓
Katowice: Received 170.00 tons, Required 170.00 tons - ✓
Barcelona: Received 2,800.00 tons, Required 2,800.00 tons - ✓
Madrid: Received 3,700.00 tons, Required 3,700.00 tons - ✓
Castle Donington: Received 30.00 tons, Required 30.00 tons - ✓
London: Received 6,700.00 tons, Required 6,700.00 tons - ✓
Mobile: Received 190.00 tons, Required 190.00 tons - ✓
Anchorage: Received 175.00 tons, Required 175.00 tons - ✓
Fairbanks: Received 38.00 tons, Required 38.00 tons - ✓
Phoenix: Received 2,400.00 tons, Required 2,400.00 tons - ✓
Los Angeles: Received 7,200.00 tons, Required 7,200.00 tons - ✓
Ontario: Received 100.00 tons, Required 100.00 tons - ✓
Riverside: Received 1,200.00 tons, Required 1,200.00 tons - ✓
Sacramento: Received 1,100.00 tons, Required 1,100.00 tons - ✓
San Francisco: Received 1,900.00 tons, Required 1,900.00 tons - ✓
Stockton: Received 240.00 tons, Required 240.00 tons - ✓
Denver: Received 1,500.00 tons, Required 1,500.00 tons - ✓
Hartford: Received 540.00 tons, Required 540.00 tons - ✓
Miami: Received 3,400.00 tons, Required 3,400.00 tons - ✓
Lakeland: Received 185.00 tons, Required 185.00 tons - ✓
Tampa: Received 1,600.00 tons, Required 1,600.00 tons - ✓
Atlanta: Received 3,000.00 tons, Required 3,000.00 tons - ✓
Honolulu: Received 500.00 tons, Required 500.00 tons - ✓
Kahului/Maui: Received 16.00 tons, Required 16.00 tons - ✓
Kona: Received 63.00 tons, Required 63.00 tons - ✓
Chicago: Received 5,100.00 tons, Required 5,100.00 tons - ✓
Rockford: Received 172.00 tons, Required 172.00 tons - ✓
Fort Wayne: Received 200.00 tons, Required 200.00 tons - ✓
South Bend: Received 173.00 tons, Required 173.00 tons - ✓
Des Moines: Received 300.00 tons, Required 300.00 tons - ✓
Wichita: Received 290.00 tons, Required 290.00 tons - ✓
New Orleans: Received 550.00 tons, Required 550.00 tons - ✓
Baltimore: Received 1,300.00 tons, Required 1,300.00 tons - ✓
Minneapolis: Received 1,700.00 tons, Required 1,700.00 tons - ✓
Kansas City: Received 975.00 tons, Required 975.00 tons - ✓
St. Louis: Received 1,200.00 tons, Required 1,200.00 tons - ✓
Omaha: Received 480.00 tons, Required 480.00 tons - ✓
Manchester: Received 100.00 tons, Required 100.00 tons - ✓
Albuquerque: Received 450.00 tons, Required 450.00 tons - ✓
New York: Received 11,200.00 tons, Required 11,200.00 tons - ✓
Charlotte: Received 900.00 tons, Required 900.00 tons - ✓
Toledo: Received 290.00 tons, Required 290.00 tons - ✓
Wilmington: Received 150.00 tons, Required 150.00 tons - ✓
Portland: Received 1,200.00 tons, Required 1,200.00 tons - ✓
Allentown: Received 420.00 tons, Required 420.00 tons - ✓
Pittsburgh: Received 1,000.00 tons, Required 1,000.00 tons - ✓
San Juan: Received 1,100.00 tons, Required 1,100.00 tons - ✓
Nashville: Received 650.00 tons, Required 650.00 tons - ✓
Austin: Received 975.00 tons, Required 975.00 tons - ✓
Dallas: Received 3,300.00 tons, Required 3,300.00 tons - ✓
Houston: Received 3,300.00 tons, Required 3,300.00 tons - ✓
San Antonio: Received 1,100.00 tons, Required 1,100.00 tons - ✓
Richmond: Received 600.00 tons, Required 600.00 tons - ✓
Seattle/Tacoma: Received 2,000.00 tons, Required 2,000.00 tons - ✓
Spokane: Received 260.00 tons, Required 260.00 tons - ✓

In [14]:
# Verify non-negativity constraints
print("\nNON-NEGATIVITY CONSTRAINT VERIFICATION:")
print("--------------------------------------")
negative_shipments = 0
for (FC, D) in x:
    shipment = value(x[FC, D])
    if shipment < 0:
        negative_shipments += 1
        print(f"Negative shipment: {FC} to {D} = {shipment:,.2f} tons")

if negative_shipments == 0:
    print("All shipments are non-negative ✓")

NON-NEGATIVITY CONSTRAINT VERIFICATION:
--------------------------------------
All shipments are non-negative ✓

In [15]:
# Verify route availability constraints - I built this into the way routes were created
print("\nROUTE AVAILABILITY VERIFICATION:")
print("-------------------------------")
unavailable_routes_used = 0
for (FC, D) in x:
    if value(x[FC, D]) > 0 and (FC, D) not in costs:
        unavailable_routes_used += 1
        print(f"Unavailable route used: {FC} to {D} = {value(x[FC, D]):,.2f} tons")

if unavailable_routes_used == 0:
    print("Only available routes were used ✓")

ROUTE AVAILABILITY VERIFICATION:
-------------------------------
Only available routes were used ✓

In [16]:
# Verify capacity constraints
print("\nCAPACITY CONSTRAINT VERIFICATION:")
print("---------------------------------")
for FC in supply_points:
    # Calculate total shipment from this supply point
    shipped = sum(value(x[FC, D]) for D in centers if (FC, D) in x and value(x[FC, D]) > 0)
    capacity = supply_points[FC]
    
    # Check if constraint is satisfied
    is_satisfied = shipped <= capacity + 0.001  # Small tolerance for floating-point errors
    
    print(f"{FC}: Shipped {shipped:,.2f} tons, Capacity {capacity:,.2f} tons - {'✓' if is_satisfied else '✗'}")

CAPACITY CONSTRAINT VERIFICATION:
---------------------------------
Cincinnati/Northern Kentucky (CVG): Shipped 60,615.00 tons, Capacity 95,650.00 tons - ✓
Alliance Fort Worth (AFW): Shipped 5,375.00 tons, Capacity 44,350.00 tons - ✓
Leipzig, Germany: Shipped 47,965.00 tons, Capacity 85,000.00 tons - ✓
Hyderabad, India: Shipped 19,000.00 tons, Capacity 19,000.00 tons - ✓
San Bernardino, CA, United States: Shipped 792.00 tons, Capacity 36,000.00 tons - ✓